USE [master]
GO
/****** Object:  Database [gsbcarpooling]    Script Date: 12/02/2021 16:36:03 ******/
CREATE DATABASE [gsbcarpooling]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gsbcarpooling', FILENAME = N'D:\Logiciels\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\gsbcarpooling.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gsbcarpooling_log', FILENAME = N'D:\Logiciels\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\gsbcarpooling_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gsbcarpooling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gsbcarpooling]
GO
/****** Object:  Table [dbo].[CARBURANT]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARBURANT](
	[Carburant_Id] [varchar](5) NOT NULL,
	[Carburant_Libelle] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Carburant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETAPE]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPE](
	[Trajet_Id] [int] NOT NULL,
	[Etape_Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ordre] [int] NOT NULL,
	[Heure_Arrivee] [time](7) NULL,
	[Date_Arrivee] [date] NULL,
	[Ville_Nom] [varchar](40) NOT NULL,
	[Ville_CodePostal] [char](5) NOT NULL,
 CONSTRAINT [PK__ETAPE__42A4622092BA6EF7] PRIMARY KEY CLUSTERED 
(
	[Trajet_Id] ASC,
	[Etape_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYS]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYS](
	[Pays_Id] [varchar](3) NOT NULL,
	[Pays_Libelle] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pays_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Pays_Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPOSER]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPOSER](
	[Vehicule_Id] [int] NOT NULL,
	[Trajet_Id] [int] NOT NULL,
	[commentaire] [varchar](350) NULL,
	[Utilisateur_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicule_Id] ASC,
	[Trajet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVER]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVER](
	[Utilisateur_Id] [int] NOT NULL,
	[Trajet_Id] [int] NOT NULL,
	[note] [tinyint] NULL,
	[commentaire] [varchar](350) NULL,
PRIMARY KEY CLUSTERED 
(
	[Utilisateur_Id] ASC,
	[Trajet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAJET]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAJET](
	[Trajet_Id] [int] IDENTITY(1,1) NOT NULL,
	[Trajet_Date] [date] NOT NULL,
	[Trajet_HeureDepart] [time](7) NOT NULL,
	[Trajet_Commentaire] [varchar](255) NULL,
	[Trajet_NbPassagers] [tinyint] NOT NULL,
	[Vehicule_Id] [int] NOT NULL,
	[Utilisateur_Id] [int] NOT NULL,
	[Ville_Depart] [varchar](40) NOT NULL,
 CONSTRAINT [PK__TRAJET__62DFF43B0BC95D12] PRIMARY KEY CLUSTERED 
(
	[Trajet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_UTILISATEUR]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_UTILISATEUR](
	[TypeUtilisateur_Id] [varchar](10) NOT NULL,
	[TypeUtilisateur_Libelle] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeUtilisateur_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_VEHICULE]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_VEHICULE](
	[TypeVehicule_Id] [tinyint] NOT NULL,
	[TypeVehicule_Libelle] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeVehicule_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[Utilisateur_Id] [int] IDENTITY(1,1) NOT NULL,
	[Utilisateur_Nom] [varchar](25) NOT NULL,
	[Utilisateur_Prenom] [varchar](20) NOT NULL,
	[Utilisateur_Photo] [varchar](255) NULL,
	[Utilisateur_Pseudonyme] [varchar](20) NOT NULL,
	[Utilisateur_HashPassword] [varchar](255) NOT NULL,
	[Utilisateur_DateNaissance] [date] NOT NULL,
	[Utilisateur_Rue] [varchar](100) NOT NULL,
	[Utilisateur_Email] [varchar](50) NOT NULL,
	[Utilisateur_TelMobile] [varchar](10) NOT NULL,
	[Utilisateur_Sexe] [varchar](10) NOT NULL,
	[Utilisateur_DateInscription] [date] NOT NULL,
	[Utilisateur_PremiereConnexion] [bit] NOT NULL,
	[Ville_Nom] [varchar](40) NOT NULL,
	[Ville_CodePostal] [char](5) NOT NULL,
	[TypeUtilisateur_Id] [varchar](10) NOT NULL,
	[Utilisateur_Actif] [bit] NOT NULL,
 CONSTRAINT [PK__UTILISAT__0EC7DD3F761B4763] PRIMARY KEY CLUSTERED 
(
	[Utilisateur_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__UTILISAT__1FDA69EF4CE24C33] UNIQUE NONCLUSTERED 
(
	[Utilisateur_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__UTILISAT__715D31F9C3B083F1] UNIQUE NONCLUSTERED 
(
	[Utilisateur_Pseudonyme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__UTILISAT__8B2CAAF8F1A17336] UNIQUE NONCLUSTERED 
(
	[Utilisateur_TelMobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULE]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULE](
	[Vehicule_Id] [int] IDENTITY(1,1) NOT NULL,
	[Vehicule_Marque] [varchar](20) NOT NULL,
	[Vehicule_Modele] [varchar](20) NOT NULL,
	[Vehicule_Annee] [int] NOT NULL,
	[Vehicule_Couleur] [varchar](20) NOT NULL,
	[Vehicule_NbPlaces] [tinyint] NOT NULL,
	[Vehicule_societe] [bit] NOT NULL,
	[Vehicule_immatriculation] [varchar](12) NOT NULL,
	[Carburant_Id] [varchar](5) NOT NULL,
	[Utilisateur_Id] [int] NOT NULL,
	[TypeVehicule_Id] [tinyint] NOT NULL,
	[Vehicule_Actif] [bit] NOT NULL,
 CONSTRAINT [PK__VEHICULE__6F2A13E64EBE620B] PRIMARY KEY CLUSTERED 
(
	[Vehicule_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__VEHICULE__228958678EABBAA3] UNIQUE NONCLUSTERED 
(
	[Vehicule_immatriculation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VILLE]    Script Date: 12/02/2021 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VILLE](
	[Ville_Nom] [varchar](40) NOT NULL,
	[Ville_CodePostal] [char](5) NOT NULL,
	[Ville_Latitude] [real] NOT NULL,
	[Ville_Longitude] [real] NOT NULL,
	[Pays_Id] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ville_Nom] ASC,
	[Ville_CodePostal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ETAPE]  WITH CHECK ADD  CONSTRAINT [FK__ETAPE__5441852A] FOREIGN KEY([Ville_Nom], [Ville_CodePostal])
REFERENCES [dbo].[VILLE] ([Ville_Nom], [Ville_CodePostal])
GO
ALTER TABLE [dbo].[ETAPE] CHECK CONSTRAINT [FK__ETAPE__5441852A]
GO
ALTER TABLE [dbo].[ETAPE]  WITH CHECK ADD  CONSTRAINT [FK__ETAPE__Trajet_Id__534D60F1] FOREIGN KEY([Trajet_Id])
REFERENCES [dbo].[TRAJET] ([Trajet_Id])
GO
ALTER TABLE [dbo].[ETAPE] CHECK CONSTRAINT [FK__ETAPE__Trajet_Id__534D60F1]
GO
ALTER TABLE [dbo].[PROPOSER]  WITH CHECK ADD  CONSTRAINT [FK__PROPOSER__Trajet__5812160E] FOREIGN KEY([Trajet_Id])
REFERENCES [dbo].[TRAJET] ([Trajet_Id])
GO
ALTER TABLE [dbo].[PROPOSER] CHECK CONSTRAINT [FK__PROPOSER__Trajet__5812160E]
GO
ALTER TABLE [dbo].[PROPOSER]  WITH CHECK ADD  CONSTRAINT [FK__PROPOSER__Utilis__59063A47] FOREIGN KEY([Utilisateur_Id])
REFERENCES [dbo].[UTILISATEUR] ([Utilisateur_Id])
GO
ALTER TABLE [dbo].[PROPOSER] CHECK CONSTRAINT [FK__PROPOSER__Utilis__59063A47]
GO
ALTER TABLE [dbo].[PROPOSER]  WITH CHECK ADD  CONSTRAINT [FK__PROPOSER__Vehicu__571DF1D5] FOREIGN KEY([Vehicule_Id])
REFERENCES [dbo].[VEHICULE] ([Vehicule_Id])
GO
ALTER TABLE [dbo].[PROPOSER] CHECK CONSTRAINT [FK__PROPOSER__Vehicu__571DF1D5]
GO
ALTER TABLE [dbo].[RESERVER]  WITH CHECK ADD  CONSTRAINT [FK__RESERVER__Trajet__5CD6CB2B] FOREIGN KEY([Trajet_Id])
REFERENCES [dbo].[TRAJET] ([Trajet_Id])
GO
ALTER TABLE [dbo].[RESERVER] CHECK CONSTRAINT [FK__RESERVER__Trajet__5CD6CB2B]
GO
ALTER TABLE [dbo].[RESERVER]  WITH CHECK ADD  CONSTRAINT [FK__RESERVER__Utilis__5BE2A6F2] FOREIGN KEY([Utilisateur_Id])
REFERENCES [dbo].[UTILISATEUR] ([Utilisateur_Id])
GO
ALTER TABLE [dbo].[RESERVER] CHECK CONSTRAINT [FK__RESERVER__Utilis__5BE2A6F2]
GO
ALTER TABLE [dbo].[TRAJET]  WITH CHECK ADD  CONSTRAINT [FK__TRAJET__Vehicule__5070F446] FOREIGN KEY([Vehicule_Id])
REFERENCES [dbo].[VEHICULE] ([Vehicule_Id])
GO
ALTER TABLE [dbo].[TRAJET] CHECK CONSTRAINT [FK__TRAJET__Vehicule__5070F446]
GO
ALTER TABLE [dbo].[TRAJET]  WITH CHECK ADD  CONSTRAINT [FK_TRAJET_UTILISATEUR] FOREIGN KEY([Utilisateur_Id])
REFERENCES [dbo].[UTILISATEUR] ([Utilisateur_Id])
GO
ALTER TABLE [dbo].[TRAJET] CHECK CONSTRAINT [FK_TRAJET_UTILISATEUR]
GO
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [FK__UTILISATE__TypeU__46E78A0C] FOREIGN KEY([TypeUtilisateur_Id])
REFERENCES [dbo].[TYPE_UTILISATEUR] ([TypeUtilisateur_Id])
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [FK__UTILISATE__TypeU__46E78A0C]
GO
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [FK__UTILISATEUR__45F365D3] FOREIGN KEY([Ville_Nom], [Ville_CodePostal])
REFERENCES [dbo].[VILLE] ([Ville_Nom], [Ville_CodePostal])
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [FK__UTILISATEUR__45F365D3]
GO
ALTER TABLE [dbo].[VEHICULE]  WITH CHECK ADD  CONSTRAINT [FK__VEHICULE__Carbur__4BAC3F29] FOREIGN KEY([Carburant_Id])
REFERENCES [dbo].[CARBURANT] ([Carburant_Id])
GO
ALTER TABLE [dbo].[VEHICULE] CHECK CONSTRAINT [FK__VEHICULE__Carbur__4BAC3F29]
GO
ALTER TABLE [dbo].[VEHICULE]  WITH CHECK ADD  CONSTRAINT [FK__VEHICULE__TypeVe__4D94879B] FOREIGN KEY([TypeVehicule_Id])
REFERENCES [dbo].[TYPE_VEHICULE] ([TypeVehicule_Id])
GO
ALTER TABLE [dbo].[VEHICULE] CHECK CONSTRAINT [FK__VEHICULE__TypeVe__4D94879B]
GO
ALTER TABLE [dbo].[VEHICULE]  WITH CHECK ADD  CONSTRAINT [FK__VEHICULE__Utilis__4CA06362] FOREIGN KEY([Utilisateur_Id])
REFERENCES [dbo].[UTILISATEUR] ([Utilisateur_Id])
GO
ALTER TABLE [dbo].[VEHICULE] CHECK CONSTRAINT [FK__VEHICULE__Utilis__4CA06362]
GO
ALTER TABLE [dbo].[VILLE]  WITH CHECK ADD FOREIGN KEY([Pays_Id])
REFERENCES [dbo].[PAYS] ([Pays_Id])
GO
USE [master]
GO
